In [23]:
import json
import pandas as pd
import sqlite3
import pprint
import folium
from collections import defaultdict

In [3]:
conn = sqlite3.connect('dataset/database.sqlite')

In [4]:
checkins = pd.read_sql_query("select * from checkin", conn)

In [13]:
businesses = pd.read_sql_query("select * from business", conn)

In [6]:
reviews = pd.read_sql_query("select * from review", conn)

In [33]:
# for i, business in businesses.iterrows():
#     value = len(checkins.loc[checkins['business_id']==business['id']])
#     print (value)
#     businesses.set_value(i, 'checkins', value)

display(checkins[:3])

              business_id            date  count
0  7KPBkxAOEtb3QeIL9PEErg  Thursday-21:00      4
1  7KPBkxAOEtb3QeIL9PEErg   Thursday-1:00      1
2  7KPBkxAOEtb3QeIL9PEErg   Thursday-4:00      1

In [31]:
d = defaultdict(int)

# why do we need i and index
for i, (index, checkin) in enumerate(checkins.iterrows()):
    d[checkin['business_id']] += checkin['count']
    if i % 10000 == 0:
        print(i)

,id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,checkins
0,--6MefnULPED_I942VcFNA,John's Chinese BBQ Restaurant,,"328 Highway 7 E, Chalmers Gate 11, Unit 10",Richmond Hill,ON,L4B 3P7,43.8409,-79.3996,3.0,30,1,0
1,--7zmmkVg-IMGaXbuVd0SQ,Primal Brewery,,16432 Old Statesville Rd,Huntersville,NC,28078,35.4371,-80.8437,4.0,42,1,0
2,--8LPVSo5i0Oo61X01sV9A,Valley Bone and Joint Specialists,,"3941 E Baseline Rd, Ste 102",Gilbert,AZ,85234,33.3795,-111.7280,4.5,3,1,0

0
10000
20000
30000
40000
50000
60000
70000

KeyboardInterrupt:

In [45]:
l = [(k, v) for (k, v) in d.items()]
f = pd.DataFrame(l)
display(f[:3])

                        0    1
0  7KPBkxAOEtb3QeIL9PEErg  113
1  kREVIrSBbtqBhIYkTccQUg    7
2  tJRDll5yqpZwehenzE2cSg    4

In [47]:
id_to_name = dict(zip(businesses['id'], businesses['name']))
id_to_review_count = dict(zip(businesses['id'], businesses['review_count']))
f['name'] = f[0].map(id_to_name)
f['review_count'] = f[0].map(id_to_review_count)
display(f[:5])

                        0    1                              name  review_count
0  7KPBkxAOEtb3QeIL9PEErg  113                          QuikTrip             9
1  kREVIrSBbtqBhIYkTccQUg    7  Richard Petty Driving Experience             3
2  tJRDll5yqpZwehenzE2cSg    4              Ransom Bay Inn B & B             5
3  nhZ1HGWD8lMErdn3FuWuTQ   45                        Applebee's            13
4  vDoXZGE7p6xAkKQ0XQPvoA    2   Ahern Catering & Banquet Center             4

In [50]:
f[1].corr(f['review_count'])

0.68090536618503972