In [1]:
import sqlite3
import pprint
import pandas as pd
import sys
from collections import defaultdict

In [2]:
# Replace the argument of sqlite3.connect() with the path to your database
conn = sqlite3.connect('/home/nathan/Programs/JupyterNotebooks/YelpData/database.sqlite')
c = conn.cursor()

pp = pprint.PrettyPrinter(indent=4)

In [3]:
table_names = [t[0] for t in c.execute('SELECT name FROM sqlite_master WHERE type="table" ORDER BY name;')]
print('Table Names\n' + '=' * 30 + '\n')
pp.pprint(table_names)

Table Names
==============================

[   'attribute',
    'business',
    'category',
    'checkin',
    'checkin_total',
    'elite_years',
    'friend',
    'hours',
    'photo',
    'review',
    'tip',
    'user']

In [4]:
business_col = [t[1] for t in c.execute('PRAGMA table_info("business");')]
user_col = [s[1] for s in c.execute('PRAGMA table_info("user");')]
review_col = [r[1] for r in c.execute('PRAGMA table_info("review");')]

print('{:<}'.format('Business') + ' Column Names\n' + '=' * 30 + '\n')
pp.pprint(business_col)
print('\n\n')
print('{:<}'.format('User') + ' Column Names\n' + '=' * 30 + '\n')
pp.pprint(user_col)
print('\n\n')
print('{:<}'.format('Review') + ' Column Names\n' + '=' * 30 + '\n')
pp.pprint(review_col)

Business Column Names
==============================

[   'id',
    'name',
    'neighborhood',
    'address',
    'city',
    'state',
    'postal_code',
    'latitude',
    'longitude',
    'stars',
    'review_count',
    'is_open']



User Column Names
==============================

[   'id',
    'name',
    'review_count',
    'yelping_since',
    'useful',
    'funny',
    'cool',
    'fans',
    'average_stars',
    'compliment_hot',
    'compliment_more',
    'compliment_profile',
    'compliment_cute',
    'compliment_list',
    'compliment_note',
    'compliment_plain',
    'compliment_cool',
    'compliment_funny',
    'compliment_writer',
    'compliment_photos']



Review Column Names
==============================

[   'id',
    'stars',
    'date',
    'text',
    'useful',
    'funny',
    'cool',
    'business_id',
    'user_id']

In [5]:
temp = [d for d in c.execute('SELECT * FROM business LIMIT 5;')]
business_example = pd.DataFrame(temp, columns = business_col)
del temp
print('Example Businesses\n' + '=' * 30 + '\n')
display(business_example)

Example Businesses
==============================

,id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open
0,--6MefnULPED_I942VcFNA,John's Chinese BBQ Restaurant,,"328 Highway 7 E, Chalmers Gate 11, Unit 10",Richmond Hill,ON,L4B 3P7,43.8409,-79.3996,3.0,30,1
1,--7zmmkVg-IMGaXbuVd0SQ,Primal Brewery,,16432 Old Statesville Rd,Huntersville,NC,28078,35.4371,-80.8437,4.0,42,1
2,--8LPVSo5i0Oo61X01sV9A,Valley Bone and Joint Specialists,,"3941 E Baseline Rd, Ste 102",Gilbert,AZ,85234,33.3795,-111.7280,4.5,3,1
3,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,The Strip,3355 Las Vegas Blvd S,Las Vegas,NV,89109,36.1232,-115.1690,4.0,1389,1
4,--9QQLMTbFzLJ_oT-ON3Xw,Great Clips,,"1835 E Guadalupe Rd, Ste 106",Tempe,AZ,85283,33.3617,-111.9100,3.0,9,1

In [6]:
temp = [d for d in c.execute('SELECT * FROM user LIMIT 5;')]
user_example = pd.DataFrame(temp, columns = user_col)
del temp
print('Example Users\n' + '=' * 30 + '\n')
display(user_example)

Example Users
==============================

,id,name,review_count,yelping_since,useful,funny,cool,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,---1lKK3aKOuomHnwAkAow,Monera,245,2007-06-04 00:00:00,67,22,9,15,3.97,2,3,2,1,0,5,9,9,9,9,0
1,---94vtJ_5o_nikEs6hUjg,Joe,2,2016-05-27 00:00:00,0,0,0,0,5.00,0,0,0,0,0,0,0,0,0,0,0
2,---cu1hq55BP9DWVXXKHZg,Jeb,57,2009-04-18 00:00:00,34,14,0,0,3.79,0,0,0,0,0,3,2,0,0,0,0
3,---fhiwiwBYrvqhpXgcWDQ,Jed,8,2011-04-20 00:00:00,2,3,1,0,2.78,0,0,0,0,0,0,0,0,0,0,0
4,---PLwSf5gKdIoVnyRHgBA,Rae,2,2015-07-31 00:00:00,1,0,0,0,4.00,0,0,0,0,0,0,0,0,0,0,0

In [7]:
temp = [d for d in c.execute('SELECT * FROM review LIMIT 5;')]
review_example = pd.DataFrame(temp, columns = review_col)
del temp
print('Example Reviews\n' + '=' * 30 + '\n')
display(review_example)

Example Reviews
==============================

,id,stars,date,text,useful,funny,cool,business_id,user_id
0,----X0BIDP9tA49U3RvdSQ,4,2014-02-17 00:00:00,"Red, white and bleu salad was super yum and a ...",0,0,0,Ue6-WhXvI-_1xUIuapl0zQ,gVmUR8rqUFdbSeZbsg6z_w
1,---0hl58W-sjVTKi5LghGw,4,2016-07-24 00:00:00,Ate the momos during the momo crawl.. Was the ...,0,0,0,Ae4ABFarGMaI5lk1i98A0w,Y6qylbHq8QJmaCRSlKdIog
2,---3OXpexMp0oAg77xWfYA,5,2012-04-07 00:00:00,Pizza here made my night... Good people and gr...,2,0,0,lKq4Qsz13FDcAVgp49uukQ,SnXZkRN9Yf060pNTk1HMDg
3,---65iIIGzHj96QnOh89EQ,5,2015-09-11 00:00:00,Great brisket sandwich as claimed. Weird that ...,0,0,0,6nKR80xEGHYf2UxAe_Cu_g,VcmSgvslHAhqWoEn16wjjw
4,---7WhU-FtzSUOje87Y4uw,5,2016-01-22 00:00:00,"Interesting food, great atmosphere, and great ...",1,1,1,Z_mJYg3vi8cPZHa1J4BALw,NKF9v-r0jd1p0JVi9h2T1w

In [8]:
# list of tuples (review id, business id, user id)
reviews = [id for id in c.execute('SELECT id, business_id, user_id FROM review;')]
business_IDs = {id[0] for id in c.execute('SELECT id FROM business;')}
user_IDs = {id[0] for id in c.execute('SELECT id from user')}

In [9]:
print('Reviews    : {:12,}\nBusinesses : {:12,}\nUsers      : {:12,}'.format(len(reviews), len(business_IDs), len(user_IDs)))

Reviews    :    4,736,897
Businesses :      156,639
Users      :    1,183,362

In [10]:
#reviews

In [11]:
#business_IDs

In [12]:
#user_IDs

In [13]:
relevant_reviews = 0
review_total = 0

for r in reviews:
    if r[1] in business_IDs:
        relevant_reviews += 1
    review_total += 1
    
print('Reviews for Relevant Businesses : {:10,}'.format(relevant_reviews))
print('Total Reviews                   : {:10,}'.format(review_total))
print('Relevant Review Fraction        : {:10.2f}%'.format(relevant_reviews / review_total * 100))

Reviews for Relevant Businesses :  4,736,897
Total Reviews                   :  4,736,897
Relevant Review Fraction        :     100.00%

In [29]:
relevant_reviews = 0
review_total = 0

for r in reviews:
    if r[2] in user_IDs:
        relevant_reviews += 1
    review_total += 1
    
print('Reviews for Relevant Users : {:10,}'.format(relevant_reviews))
print('Total Reviews              : {:10,}'.format(review_total))
print('Relevant Review Fraction   : {:10.2f}%'.format(relevant_reviews / review_total * 100))

Reviews for Relevant Users :  4,736,897
Total Reviews              :  4,736,897
Relevant Review Fraction   :     100.00%

Manually pull some business IDs from the visual representation of reviews, compare to the examples I pulled
directly from the database (see dataframes above). Then manually check those IDs against the business_IDs and user_IDs
sets. First few items from reviews list (review id, business id, user id):

- ('----X0BIDP9tA49U3RvdSQ',
  'Ue6-WhXvI-_1xUIuapl0zQ',
  'gVmUR8rqUFdbSeZbsg6z_w'),
- ('---0hl58W-sjVTKi5LghGw',
  'Ae4ABFarGMaI5lk1i98A0w',
  'Y6qylbHq8QJmaCRSlKdIog'),
- ('---3OXpexMp0oAg77xWfYA',
  'lKq4Qsz13FDcAVgp49uukQ',
  'SnXZkRN9Yf060pNTk1HMDg'),
- ('---65iIIGzHj96QnOh89EQ',
  '6nKR80xEGHYf2UxAe_Cu_g',
  'VcmSgvslHAhqWoEn16wjjw'),
- ('---7WhU-FtzSUOje87Y4uw',
  'Z_mJYg3vi8cPZHa1J4BALw',
  'NKF9v-r0jd1p0JVi9h2T1w')

Visually confirm that they are the same first 5 entries from the reviews table in the database, see above. CHECK

In [ ]:
"""
sample_business = ['Ue6-WhXvI-_1xUIuapl0zQ', 'Ae4ABFarGMaI5lk1i98A0w', 'lKq4Qsz13FDcAVgp49uukQ', '6nKR80xEGHYf2UxAe_Cu_g', 'Z_mJYg3vi8cPZHa1J4BALw']
sample_user = ['gVmUR8rqUFdbSeZbsg6z_w', 'Y6qylbHq8QJmaCRSlKdIog', 'SnXZkRN9Yf060pNTk1HMDg', 'VcmSgvslHAhqWoEn16wjjw', 'NKF9v-r0jd1p0JVi9h2T1w']

for b in sample_business:
    if b in business_IDs:
        print(True)
    else:
        print(False)
        
print('\n\n========================\n\n')

for u in sample_user:
    if u in user_IDs:
        print(True)
    else:
        print(False)
"""

In [15]:
friend_df = pd.read_sql_query('SELECT * FROM friend', conn)

In [16]:
print(sys.getsizeof(friend_df))
print(friend_df.shape)
print(friend_df.dtypes)

6295808724
(39846890, 2)
user_id      object
friend_id    object
dtype: object

In [28]:
display(friend_df)

                         user_id               friend_id
0         lsSiIjAKVl-QRxKjRErBeg  M19NwFwAXKRZzt8koF11hQ
1         lsSiIjAKVl-QRxKjRErBeg  QRcMZ8pJJBBZaKubHOoMDQ
2         lsSiIjAKVl-QRxKjRErBeg  uimsjcHoBnXz1MAKGvB26w
3         lsSiIjAKVl-QRxKjRErBeg  v325XGF-l9da74ZMWEjyoA
4         lsSiIjAKVl-QRxKjRErBeg  vP5ajc1oGURsNvCXewsnDw
5         lsSiIjAKVl-QRxKjRErBeg  9nSutZOliE9Vg4XVGEx1HA
6         lsSiIjAKVl-QRxKjRErBeg  --2vR0DIsmQ6WfcSzKWigw
7         lsSiIjAKVl-QRxKjRErBeg  LDJ51sk5SJXovRI2yQZimA
8         lsSiIjAKVl-QRxKjRErBeg  3R_dB9VQ_D3WPJEw7pmorA
9         lsSiIjAKVl-QRxKjRErBeg  8drMKNHWavs2g6uf0pLtvg
10        lsSiIjAKVl-QRxKjRErBeg  wOGfOjBaP-lCS1NW_En2LQ
11        lsSiIjAKVl-QRxKjRErBeg  AK2-Pvb6E9vgeXWyY4Jxog
12        lsSiIjAKVl-QRxKjRErBeg  DbUSCSMQwD3eiAre0Ueu8A
13        lsSiIjAKVl-QRxKjRErBeg  B_2qev6exPELs7ZnO4iljg
14        lsSiIjAKVl-QRxKjRErBeg  LQALTuDeCRLwR9NOxUWS5A
15        lsSiIjAKVl-QRxKjRErBeg  kSUU18CH2BRPLK1uUsz1Wg
16        lsSiIjAKVl-QRxKjRErBeg  M-HINGCHOnaQkKq8WDtRMA
17        lsSiIjAKVl-QRxKjRErBeg  9lWyDOySHcc6Jiqp2-EPUw
18        lsSiIjAKVl-QRxKjRErBeg  j2Eu9pE22Rp_DRoSp3KgQg
19        lsSiIjAKVl-QRxKjRErBeg  neuz9oCcHiW4k-jltcC1BA
20        lsSiIjAKVl-QRxKjRErBeg  PRQxRp1IFHPBlbXeDwG3mA
21        lsSiIjAKVl-QRxKjRErBeg  t9vCxltuXJ941V8ppWVsVQ
22        lsSiIjAKVl-QRxKjRErBeg  pYK8JuBylomxLIwwyv0Iyw
23        lsSiIjAKVl-QRxKjRErBeg  WTLPH3jIWOUTFMpD4o_7Vg
24        lsSiIjAKVl-QRxKjRErBeg  qAE5pJYa75gRbpC7bgI3Ow
25        lsSiIjAKVl-QRxKjRErBeg  7OxFrOWLP04hSCGY_g3aUw
26        lsSiIjAKVl-QRxKjRErBeg  nRdfX_I0CaOq7lJunJMPpA
27        lsSiIjAKVl-QRxKjRErBeg  W81-CPVrM9c6F8XiNuEUvA
28        lsSiIjAKVl-QRxKjRErBeg  VaVkC537R46xRNpOucRgvA
29        lsSiIjAKVl-QRxKjRErBeg  j8YxElKHhbg1ghQDSI1v3Q
...                          ...                     ...
39846860  d9UxOLFcBjIz3GJBU-Qpmg  cg_BJB0x-Vv4qYVqowWyLw
39846861  35oQNYzQST66ioero5ql5Q  YeFT6K_CXmoBe1BbgozgSw
39846862  Cw5q5MhIfjVdZYsXDXs2fg  4lXIGU1syNwwBWsB3_64uw
39846863  QXrhAUvR_LwrOBIGN7i1ow  ldeTSmGQoQDJnt_yCDZ6Ng
39846864  CUi2baAUTP6AE2Mm2aSuDg  YpH3XQEKllswtiAk_M7Qnw
39846865  yU7Dddfp47hFvpiKR1-yww  pIj_S3erKt-2ITG3UK98cA
39846866  kzxRYfbVcox9LlatRi4VTg  RYtIfNYhgmmZ4p7lCLWOBQ
39846867  6ybvX1bKuuEOOxLsy_VqaQ  Z4cS_lc9nhxx9ti8dwqIqg
39846868  oWZN3e1cKeIJ9pcN8mojAw  tgZVds0B0iEjO18b_pEbtg
39846869  Wul9__EUV8WpIf6oaxSY8Q  OWtjsyPKWUu7La7uOyC6Rw
39846870  YAWSKq0PX1-cUZNt40rIbw  xJG559vd8LcNTqMcgq3_Bg
39846871  WESzOfCrpdIlNq9YOkvcwg  _RgypWaTbNg4bCmtHalHTA
39846872  hNoFfe03_CcY5mn6-MVkgg  WeBkmSH4h0d1SqkCSb71ag
39846873  fjJDw67L_-Etxjk-jbN6MA  ndzQc-mIvRdf7RKQkVym7g
39846874  kzjGIHa8eOf8V6_ZfNJHJg  NRp0gqsYs8JBYd9mYYxlYw
39846875  Pl5ENAimBKA7UxY2756B6A  -EEtbuwV81diowztL4h95w
39846876  dj3FCWCKvX206EzTfLWpKA  C-mFf-3tZMt-wPK27v1Hpw
39846877  mNL6YuYuesUCobBEwQiu5Q  n9ZmV1PrLqW6OMWBjfOy6Q
39846878  NRCUl3CLoXvD5wF3So0Xpw  Xboe-0WpvcP1liVNDNDoXA
39846879  NRCUl3CLoXvD5wF3So0Xpw  SAaaPyZyamPxF9E-pB3B_Q
39846880  bjE48B0W1WeewprLDXLzlA  HngPgvkgWUsq5phFjsKuQQ
39846881  Qn98UBsi9l-eSJUgtm0Yjw  rEoplNL1XQg7ctP2xy7MHQ
39846882  es1dnkfEDJ4AqctGmF169Q  GGFVSWnmuDb8XEqRl3Z8AQ
39846883  4x-mR1rkOwqrNiJbJFdVCQ  ytWFR6cNNhKYVlFdQjkOww
39846884  QX-HgpLnyPesGr9HeCYHXw  TT0b9a0e8kWwpC8aP0Up9Q
39846885  fbK72O5ii8MR1wB8O0TH-w  U6iaJUP2Dk2UYYsT3ipabQ
39846886  5_yOu8JfMA74PHl9eA5l6g  FlkZ-tA2po3kHl4j9BzUsA
39846887  Enme6qNvOYha24JgcF97sQ  E7XV5O1aTiC6_UQAe-_FMA
39846888  kJTxYvANrqZwhIrmSfeFIw  Tg6M39597Hx2T6zk_CJnTQ
39846889  OG0hARxzACmyjSjYJJ5efg  gPJLpU5qFhWUSvJrX8NuVg

[39846890 rows x 2 columns]

In [19]:
userswithfriends = set()
for user in friend_df['user_id']:
    userswithfriends.add(user)

In [20]:
friends = set()
for friend in friend_df['friend_id']:
    friends.add(friend)

In [21]:
print('Users with Friends : {:12,}'.format(len(userswithfriends)))
print('Unique Friends     : {:12,}'.format(len(friends)))

Users with Friends :      675,411
Unique Friends     :    8,833,584

In [22]:
relevant_userswithfriends = 0

for user in userswithfriends:
    if user in user_IDs:
        relevant_userswithfriends += 1

In [23]:
relevant_friends = 0

for friend in friends:
    if friend in user_IDs:
        relevant_friends += 1

In [24]:
print('Users with Friends in User Table : {:12,}'.format(relevant_userswithfriends))
print('Users with Friends Total         : {:12,}'.format(len(userswithfriends)))
print('                                 : {:12.2f}%\n'.format(relevant_userswithfriends / len(userswithfriends) * 100))
print('Unique Friends in User Table     : {:12,}'.format(relevant_friends))
print('Unique Friends Total             : {:12,}'.format(len(friends)))
print('                                 : {:12.2f}%'.format(relevant_friends / len(friends) * 100))

Users with Friends in User Table :      675,411
Users with Friends Total         :      675,411
                                 :       100.00%

Unique Friends in User Table     :      527,609
Unique Friends Total             :    8,833,584
                                 :         5.97%

In [25]:
user_df = pd.read_sql_query('SELECT * FROM user', conn)

In [26]:
display(user_df)

,id,name,review_count,yelping_since,useful,funny,cool,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,---1lKK3aKOuomHnwAkAow,Monera,245,2007-06-04 00:00:00,67,22,9,15,3.97,2,3,2,1,0,5,9,9,9,9,0
1,---94vtJ_5o_nikEs6hUjg,Joe,2,2016-05-27 00:00:00,0,0,0,0,5.00,0,0,0,0,0,0,0,0,0,0,0
2,---cu1hq55BP9DWVXXKHZg,Jeb,57,2009-04-18 00:00:00,34,14,0,0,3.79,0,0,0,0,0,3,2,0,0,0,0
3,---fhiwiwBYrvqhpXgcWDQ,Jed,8,2011-04-20 00:00:00,2,3,1,0,2.78,0,0,0,0,0,0,0,0,0,0,0
4,---PLwSf5gKdIoVnyRHgBA,Rae,2,2015-07-31 00:00:00,1,0,0,0,4.00,0,0,0,0,0,0,0,0,0,0,0
5,---udAKDsn0yQXmzbWQNSw,Carolyn,43,2014-07-12 00:00:00,1,0,0,1,3.84,0,0,0,0,0,0,0,0,0,0,0
6,--0kuuLmuYBe3Rmu0Iycww,Talia,26,2010-03-08 00:00:00,10,2,0,2,3.48,0,0,0,0,0,0,0,0,0,0,0
7,--0RtXvcOIE4XbErYca6Rw,Ryan,2,2013-05-30 00:00:00,0,0,0,0,4.50,0,0,0,0,0,0,0,0,0,0,0
8,--0sXNBv6IizZXuV-nl0Aw,Joe,1,2013-01-09 00:00:00,0,0,0,0,5.00,0,0,0,0,0,0,0,0,0,0,0
9,--0WZ5gklOfbUIodJuKfaQ,Scott,7,2013-02-19 00:00:00,0,0,0,0,4.11,0,0,0,0,0,0,0,0,0,0,0
10,--104qdWvE99vaoIsj9ZJQ,John,3,2016-04-26 00:00:00,0,0,2,0,2.33,0,0,0,0,0,0,0,0,0,0,0
11,--1av6NdbEbMiuBr7Aup9A,Ron,9,2010-09-26 00:00:00,0,0,0,0,4.33,0,0,0,0,0,0,0,0,0,0,0
12,--1mPJZdSY9KluaBYAGboQ,Bryan,5,2011-07-04 00:00:00,0,0,0,0,5.00,0,0,0,0,0,0,0,0,0,0,0
13,--26jc8nCJBy4-7r3ZtmiQ,Patti,2,2014-08-03 00:00:00,15,13,9,0,5.00,0,0,0,0,0,0,0,0,0,0,0
14,--2bpE5vyR-2hAP7sZZ4lA,Gary,23,2015-10-12 00:00:00,0,0,0,0,4.17,0,0,0,0,0,0,0,0,0,0,0
15,--2HUmLkcNHZp0xw6AMBPg,Kristin,28,2016-07-28 00:00:00,7,1,0,0,4.60,0,0,0,0,0,0,0,0,0,0,0
16,--2vR0DIsmQ6WfcSzKWigw,Harald,1153,2012-11-27 00:00:00,122921,122419,122890,311,4.40,7246,2204,2367,1176,990,3239,12102,12008,12008,5772,22219
17,--3B8LdT1NCD-bPkwS5-5g,Cynthia,4,2016-11-10 00:00:00,0,0,0,0,4.25,0,0,0,0,0,0,0,0,0,0,0
18,--3l8wysfp49Z2TLnyT0vg,Benjamin,111,2013-12-14 00:00:00,97,57,32,2,3.43,0,0,0,0,0,0,1,2,2,3,0
19,--3oMd6gjXpAzhjLBrsVCQ,Mrme,2,2010-03-22 00:00:00,1,0,0,0,4.00,0,0,0,0,0,0,0,0,0,0,0
20,--3WaS23LcIXtxyFULJHTA,Kristie,213,2010-05-02 00:00:00,63,6,2,10,3.93,11,4,0,0,0,5,20,18,18,7,2
21,--41c9Tl0C9OGewIR7Qyzg,Tamaki,239,2011-07-03 00:00:00,64,15,3,23,3.86,13,3,2,1,1,5,12,17,17,11,3
22,--44NNdtngXMzsxyN7ju6Q,Austin,2,2013-01-22 00:00:00,0,0,0,0,5.00,0,0,0,0,0,1,0,0,0,0,0
23,--4q8EyqThydQm-eKZpS-A,Kiristen,400,2008-01-07 00:00:00,405,313,72,23,3.42,5,0,0,2,0,13,19,26,26,7,0
24,--4rAAfZnEIAKJE80aIiYg,Mesut,25,2013-09-14 00:00:00,12,5,1,0,2.46,0,0,0,0,0,3,1,0,0,0,0
25,--4ww39MLTS1SBRmCrSmww,Lissa,3,2017-04-02 00:00:00,0,0,0,0,5.00,0,0,0,0,0,0,0,0,0,0,0
26,--56mD0sm1eOogphi2FFLw,Jen,211,2010-12-16 00:00:00,3111,3164,3168,39,3.47,78,8,9,5,0,25,135,128,128,25,60
27,--56y1InAvNoQOD6YYrhVQ,Tara,3,2014-09-22 00:00:00,0,1,0,0,1.00,0,0,0,0,0,0,0,0,0,0,0
28,--5BsHjOVLIGoTwjol-V2w,Lyndsey,1,2013-03-28 00:00:00,1,0,0,0,1.00,0,0,0,0,0,0,0,0,0,0,0
29,--5Dnq-kuMq5bqvlgDKORQ,Cynthia,7,2011-01-12 00:00:00,17,4,4,4,3.00,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183332,__vp3Y-8wFYRrcvttZCzag,Jen,24,2008-06-24 00:00:00,29,35,8,3,4.08,1,0,0,1,0,1,7,3,3,1,0
1183333,__Vsu-x1T-GeDxpjL14YAg,Kenneth,8,2016-06-07 00:00:00,18,0,0,0,3.00,0,0,0,0,0,0,0,1,1,0,0
1183334,__VwEkaZMWyNVVCSVBnL-w,Sasha,1,2016-05-07 00:00:00,0,0,0,0,1.00,0,0,0,0,0,0,0,0,0,0,0
1183335,__W4CXU_zSYBnZKzTtFw4Q,Jim,2,2016-12-12 00:00:00,0,0,0,0,3.00,0,0,0,0,0,0,0,0,0,0,0
1183336,__W8qnFPJ9eWzpfHvCnURw,Andrew,1,2011-09-09 00:00:00,0,0,1,0,4.00,0,0,0,0,0,0,0,0,0,0,0
1183337,__woJry4vJR4HPK4i7Rw2g,Randy,3,2013-08-18 00:00:00,1,0,0,0,4.75,1,0,0,0,0,0,0,0,0,0,0
1183338,__Wt8H4-n-UWJ-IvXTzyEw,G,10,2015-02-01 00:00:00,0,0,0,0,2.50,0,0,0,0,0,0,0,0,0,0,0
1183339,__WUOG8rcjloIoVyonKLeA,Elvis,2,2012-01-11 00:00:00,7,0,0,0,2.50,0,0,0,0,0,0,0,0,0,0,0
1183340,__Wz8d-Tterb5JFUgjo3Jg,LaQuitta,2,2015-01-11 00:00:00,4,0,0,0,4.00,0,0,0,0,0,0,0,0,0,0,0
1183341,__x3PepTyGoxsuGSg4FnWA,Kenny,20,2016-07-08 00:00:00,0,0,0,0,1.80,0,0,0,0,0,0,0,0,0,0,0
1183342,__X6Uiwj_2InlFJu2D9Wjg,Fernan,1,2014-09-12 00:00:00,0,0,0,0,5.00,0,0,0,0,0,1,0,0,0,0,0
1183343,__xNwO-HNu0TNR-_s_rglA,Alison,14,2011-11-27 00:00:00,2,0,0,0,3.88,0,0,0,0,0,0,0,0,0,0,0
1183344,__XoLCyPKQ7LHo4qR8Q4tw,David,98,2009-10-12 00:00:00,4,1,1,3,3.70,2,1,0,0,0,2,2,2,2,0,0
1183345,__XXH5inWigjmDBTT-plng,K,8,2012-06-23 00:00:00,2,0,0,0,3.70,1,0,0,0,0,0,0,0,0,0,0
1183346,__Xy0182tsCOG6jSzQp9xQ,Jan,5,2014-09-13 00:00:00,1,0,0,0,3.80,0,0,0,0,0,0,0,0,0,0,0
1183347,__Y-5ugQ3y__VxzOIXQ0ng,Paul,6,2010-01-31 00:00:00,0,0,0,0,4.17,0,0,0,0,0,0,0,1,1,0,0
1183348,__y13uWxzCjp9WZ69Ej14Q,Pat,1,2017-02-18 00:00:00,0,0,0,0,5.00,0,0,0,0,0,0,0,0,0,0,0
1183349,__y1QHnPBvMmB-OmzWBKtQ,Kevin,110,2010-01-30 00:00:00,46,29,30,5,3.60,0,3,0,0,0,2,2,1,1,1,0
1183350,__YA5TTK5Xd9SmisMBdAYg,Rebekah,18,2014-02-23 00:00:00,9,1,1,0,4.05,0,0,0,0,0,0,0,0,0,0,0
1183351,__YSqE_HhzmtYTMhLmxCSQ,Michelle,1,2013-07-22 00:00:00,0,0,0,0,2.00,0,0,0,0,0,0,0,0,0,0,0
1183352,__YuoYyQxvjvE5UcinU7Gg,Lola,2,2011-10-30 00:00:00,1,0,0,0,5.00,0,0,0,0,0,0,0,0,0,0,0
1183353,__yYWik99gatNMlQjogAVQ,M,2,2016-11-12 00:00:00,0,0,0,0,5.00,0,0,0,0,0,0,0,0,0,0,0
1183354,__z5mmEwnkB-BDzSD_KvmA,TR,34,2011-07-14 00:00:00,49,6,7,2,2.64,0,0,0,0,0,1,1,1,1,0,0
1183355,__ZJohRr9kWepitGaKCt_Q,Crystal,59,2013-12-01 00:00:00,32,22,14,9,4.14,12,1,0,0,0,6,21,39,39,0,0
1183356,__ZoQKLLNHKGY4C_MQgmIA,Keyan,39,2010-05-25 00:00:00,5,2,1,2,4.30,0,0,0,0,0,1,3,1,1,1,0
1183357,___DPmKJsBF2X6ZKgAeGqg,Charlotte,3,2014-04-07 00:00:00,0,0,1,0,3.33,0,0,0,0,0,0,0,0,0,0,0
1183358,___fEWlObjtPaZ-pK0eq9g,Nerissa,2,2016-05-09 00:00:00,0,0,0,0,5.00,0,0,0,0,0,0,0,0,0,0,0
1183359,___I9ZYdYGkZ6dMYxwJEIQ,Jim,150,2011-08-17 00:00:00,131,44,85,9,3.96,1,3,1,1,0,6,8,2,2,0,1
1183360,___MTsBloH4jvybJ5DrTYw,TJ,10,2011-03-25 00:00:00,3,0,0,0,4.90,0,0,0,0,0,0,1,0,0,0,0
1183361,___QCazm0YrHLd3uNUPYMA,Mike,5,2014-07-31 00:00:00,10,3,1,0,5.00,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
user_friendcounts = defaultdict(int)
for index, row in friend_df.iterrows():
    user_friendcounts[row['user_id']] += 1

In [ ]:
review_counts = []
friend_counts = []
for index, row in user_df.iterrows():
    if row['id'] in relevant_userswithfriends:
        review_counts.append(row['review_count'])
        friend_counts.append